.main-chat
  .main-chat__group-info
    .main-chat__group-info__group-name
      test
      .main-chat__group-info__group-name__member-name
        Member : masa
    = link_to "#" do
      .main-chat__group-info__edit
        Edit
        
  .main-chat__message-list
    .main-chat__message-list__box
      .main-chat__message-list__box__user-day
        .main-chat__message-list__box__user-day__user
          masa
        .main-chat__message-list__box__user-day__day
          2020/04/16(Thr) 16:10:00
      .main-chat__message-list__box__message
        おはよう！
    
  .main-chat__message-form