.main-chat
  .main-chat__group-info
    .main-chat__group-info__group-name
      test
      .main-chat__group-info__group-name__member-name
        Member : masa
    = link_to "#" do
      .main-chat__group-info__edit
        Edit
  .main-chat__message-list
  .main-chat__message-form